<div class = 'row'>
	<div class = 'col-lg-12'>
		<div class="form-group">
			<label for="product_title">ชื่อข่าว</label>
			<%=f.text_field :title, {:class => 'form-control'}%>
		</div>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12'>
		<div class="form-group">
			<label for="product_short_desc">คำอธิบาย</label>
			<%=f.text_area :short_desc, {:class => 'form-control', :style => 'height: 100px;'}%>
		</div>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12'>
		<div class="form-group">
			<label for="product_cover_id">ภาพหน้าปก <em style ='font-weight:normal;'>(เลือกภาพที่ได้อัพโหลดไว้แล้วใน เมนูภาพข่าว)</em></label>
			<%=f.select :cover_id, Image.all.map{ |z| [z.name, z.id]},{}, {:class => 'form-control'}%>
		</div>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12'>
		<div class="form-group">
		<label for="product_content">เนื้อหา</label>
		<%=f.text_area :content, {:class => 'form-control', :style => 'height: 200px;'}%>
	</div>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12'>
		<div class="form-group">
			<label for="product_is_publish">แสดงบนเว็บไซต์</label>
			<%=f.check_box :is_publish%>
		</div>
	</div>
</div>
 