<div class = 'row'>
	<div class = 'col-lg-12'>
		<h3>ภาพข่าว</h3>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12' style="text-align:right;">
		<%=link_to new_backend_image_path, {:class => 'btn btn-success'} do%>
			อัพโหลด
		<%end%>
	</div>
</div>
<div style='clear:both;height:40px;'></div>
<div class ='row'>
	<%@images.each do |image| %>
		<div class = 'col-lg-3 image-thumbs'>
			<div class = 'row'>
				<div class = 'col-lg-12'>
					ชื่อ: <%=image.name%>
				</div>
			</div>
			<div class = 'row'>
				<div class = 'col-lg-12'>
					<a href ="<%=image.file.url(:large)%>" target ="_blank">
						<img src="<%=image.file.url(:thumb)%>"/>
					</a>
				</div>
			</div>
			<div class = 'row'>
				<div class = 'col-lg-12' style='padding-left: 60px;'>
					<%=link_to backend_image_path(image), {:method => :delete, :data => {:confirm => 'Do you really want to delete this item?'}} do %>
						Delete <i class = 'fa fa-times fw'></i>
			     <%end%>
				</div>
			</div>
			
		</div>
	<%end%>
</div>