<%if @product.errors.any? %>
            <div class = "row alert alert-danger">
              <h4>ไม่สามารถบันทึกได้เนื่องจาก:</h4>
              <ul id = "error-list">
                <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
<%end%>
<div class ='row'>
	<div class ='col-lg-12'>
		<div class="form-group">
		    	<label for="product_code">รหัสที่ดิน</label>
		    	<%=f.text_field :code, {:class => 'form-control'}%>
		 </div>
	</div>
</div>
<div class ='row'>
	<div class ='col-lg-12'>
		<div class="form-group">
		    	<label for="product_title">ชื่อ</label>
		    	<%=f.text_field :title, {:class => 'form-control'}%>
		 </div>
	</div>
</div>		
<div class ='row'>
	<div class ='col-lg-4'>
		<div class="form-group">
		    	<label for="product_zone_id">ภาค</label>
		    	<%=f.select :zone_id, Zone.all.map{ |z| [z.name, z.id]},{}, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='row'>
		<div class ='col-lg-4'>
				<label for="product_province_id">จังหวัด</label>
		    	<%=f.select :province_id, Province.all.map{ |z| [z.name, z.id]},{}, {:class => 'form-control'}%>
		</div>
	</div>	
</div>			  
<div class ='row'>
	<div class ='col-lg-12'>
		<div class="form-group">
		    	<label for="product_short_desc">คำอธิบายสั้นๆ</label>
		    	<%=f.text_area :short_desc, {:class => 'form-control', :style => 'height: 100px;'}%>
		 </div>
	</div>
</div>	
<div class ='row'>
	<div class ='col-lg-12'>
		 <div class="form-group">
		    	<label for="product_content">เนื้อหา</label>
		    	<%=f.text_area :content, {:class => 'form-control', :style => 'height: 200px;'}%>
		  </div>
	</div>
</div>		  
<div class ='row'>
	<div class ='col-lg-4'>
		<div class="form-group">
		    	<label for="product_sqr_area">พื้นที่</label>
		    	<%=f.text_field :sqr_area, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='col-lg-4'>
		 <div class="form-group">
		    	<label for="product_width">กว้าง</label>
		    	<%=f.text_field :width, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='col-lg-4'>
		<div class="form-group">
		    	<label for="product_depth">ลึก</label>
		    	<%=f.text_field :depth, {:class => 'form-control'}%>
		  </div>
	</div>
</div>		 
<div class ='row'>
	<div class ='col-lg-4'>
		<div class="form-group">
		    	<label for="product_sell_price">ราคาขาย</label>
		    	<%=f.text_field :sell_price, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='col-lg-4'>
		<div class="form-group">
		    	<label for="product_land_price">ราคาที่ดิน</label>
		    	<%=f.text_field :land_price, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='col-lg-4'>
		 <div class="form-group">
		    	<label for="product_rent_price">ราคาเช่า</label>
		    	<%=f.text_field :rent_price, {:class => 'form-control'}%>
		  </div>
	</div>
	<div class ='col-lg-4'>
		 <div class="form-group">
		    	<label for="product_rent_price">ราคา (ใช้สำหรับการค้นหา)</label>
		    	<%=f.text_field :search_price, {:class => 'form-control'}%>
		  </div>
	</div>
</div>
<div class ='row'>
	<div class ='col-lg-12'>
		 <div class="form-group">
		    	<label for="product_product_status_master">สถานะ</label>
		    	<%=f.select :product_status_master_id, ProductStatusMaster.all.map{ |z| [z.name, z.id]},{}, {:class => 'form-control'}%>
		  </div>
	</div>
</div>			   
<div class ='row'>
	<div class ='col-lg-12'>
		 <div class="form-group">
		    	<label for="product_contact_id">ติดต่อที่</label>
		    	<%=f.select :contact_id, Contact.all.map{ |z| [z.name, z.id]},{}, {:class => 'form-control'}%>
		  </div>
	</div>
</div>	
<div class ='row'>
	<div class ='col-lg-12'>
		 <div class="form-group">
		    	<label for="product_is_show">แสดงรายการที่ดินนี้บนหน้าเว็บไซต์</label> &nbsp;
		    	<%=f.check_box :is_show%>
		  </div>
	</div>
</div>	
<div class ='row'>
	<div class ='col-lg-12'>
		 <div class="form-group">
		    	<label for="product_is_show">แสดงในที่ดินเด่น</label> &nbsp;
		    	<%=f.check_box :is_starred%>
		  </div>
	</div>
</div>		  
		 
		  
		  
		  
		 
		  
		 
		 
