<div class = 'row'>
	<div class = 'col-lg-12'>
		<h2>รายการที่ดิน</h2>
	</div>
</div>
<div class = 'row'>
	<div class = 'col-lg-12'>
		<%=form_for :search, :url => backend_products_path, :html => { :method => 'GET' } do |f| %>
			<div class = 'row'>
				<div class = 'col-lg-3'>
				    	<%=f.text_field :keyword, {:value => (params[:search].nil? ? "" : params[:search][:keyword]), :class => 'form-control', :placeholder => 'คำสำคัญ'}%>
						 
				</div>
				<div class = 'col-lg-3'>
				    	<%=f.select :zone_id, [["แสดงทุกภาค", 0]] + Zone.all.map{ |z| [z.name, z.id]},{:selected => (params[:search].nil? ? 0 : params[:search][:zone_id].to_i)}, {:class => 'form-control'}%>
				</div>
				<div class = 'col-lg-3'>
				    	<%=f.select :province_id, [["แสดงทุกจังหวัด", 0]] + Province.all.map{ |z| [z.name, z.id]},{:selected => (params[:search].nil? ? 0 : params[:search][:province_id].to_i)}, {:class => 'form-control'}%>
				</div>
				<div class = 'col-lg-1' style = 'position: relative; top: -5px;'>
						<span style = 'font-size: 12px; font-weight: bold;'> ที่ดินเด่น </span>
				    	<%=f.check_box :is_starred, {:checked =>
				    	(params[:search].nil? ? false : params[:search][:is_starred].to_i == 1), :style => "margin-left: 15px;"}%>
				</div>
				<div class = 'col-lg-1'>
					<%=f.submit "ค้นหา", {:class => "btn btn-primary"}%>
				</div>
				<div class = 'col-lg-1', style='text-align:right;'>
					<%=link_to new_backend_product_path, {:class => 'btn btn-success'} do%>
						<i class = 'fa fa-plus fa-fw'></i>&nbsp;สร้าง
					<%end%>
				</div>
			</div>
		<%end%>
	</div>
</div>
<div style='clear:both;height:40px;'></div>
	<%@products.each do |product|%>
		<div class = 'row' style = 'margin-bottom: 20px;'>
			<div class = 'col-lg-12'>
				<div class = 'product-box' data-id = '<%=product.id%>' style = 'border: 1px solid #666;' >
					<div class = 'row'>
						<div class = 'col-lg-3 image-thumbs'>
							<%if product.product_images.size > 0%>
								<img src= "<%=product.product_images.first.image.url(:thumb)%>"/>
							<%end%>
							<div>
								<%=link_to "อัพโหลดรูป", upload_backend_product_path(product), :class => 'btn btn-sm btn-success', :style => 'margin: 5px 0 0 30px;'%>
							</div>
						</div>
						<div class = 'col-lg-6'>
							<p style ='font-weight: bold;'>
								<span style = "color: #428bca;"><%=product.code%></span>: <%=product.title%>, <em style = "font-weight: normal;"> <%=product.zone%>, <%=product.province%> </em>
							</p>
							<p>
								<%=product.short_desc%>
						    </p>
						</div>
						<div class = 'col-lg-3' style ='height:100%;'>
							<div class ='row' style ='height: 60px;'>
								<div class ='col-lg-6' style='text-align:right;'>
									<%if product.is_starred %>
										<i class = "fa fa-star fa-fw"></i>
									<%end%>
								</div>
								<div class ='col-lg-6' style='text-align:right;'>
									<%=product.product_status_master%>
								</div>
							</div>
							<div class ='row'>
								<div class ='col-lg-12' style='text-align:right;'>
									<%=link_to "รายละเอียด", backend_product_path(product), {:class => 'btn btn-sm btn-primary'}%>
										<%=link_to "ลบ", backend_product_path(product), {
											:data => {:confirm => 'Do you really want to delete this item?'},
											:method => :delete, 
											:class => 'btn btn-sm btn-danger'
										}%>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	<%end%>
	<%= will_paginate @products, :params => { :search => params[:search] } %>
</div>

