
<div class ='row'>
	<div class ='col-lg-12'>
		<h3><%=@product.code%>: <%=@product.title%></h3>
	</div>
</div>
<div class ='row'>
	<div class ='col-lg-12'>
		<h5><%=@product.zone%></h5>
	</div>
</div>

<div class ='row'>
	<%@product.product_images.each do |image|%>
	  	 <div class ='col-lg-3 image-thumbs' style ='margin-bottom:20px;'>
	  	 	<a href="<%=image.image.url(:large)%>" target ="_blank">
	  	 	<img src="<%=image.image.url(:thumb)%>"/>
	  	 	</a>
	  	 </div>
	<%end%>
</div>
<div class ='row'>
	<div class ='col-lg-12'>
		<p>
			<%=@product.content%>
		</p>
	</div>
</div>
<div style='clear:both;height:40px;'></div>
<table>
	<tr>
		<td style='width:200px;'>Area</td>
		<td><%=@product.sqr_area.nil? ? "-" : @product.sqr_area%></td>
	</tr>
	<tr>
		<td>Width</td>
		<td><%=@product.width.nil? ? "-" : @product.width%></td>
	</tr>
	<tr>
		<td>Depth</td>
		<td><%=@product.depth.nil? ? "-" : @product.depth%></td>
	</tr>
	<tr>
		<td>Price</td>
		<td><%=@product.sell_price.nil? ? "-" : @product.sell_price%></td>
	</tr>
	<tr>
		<td>Land Price</td>
		<td><%=@product.land_price.nil? ? "-" : @product.land_price%></td>
	</tr>
	<tr>
		<td>Rent Price</td>
		<td><%=@product.rent_price.nil? ? "-" : @product.rent_price%></td>
	</tr>
</table>
<div style='clear:both;height:40px;'></div>
<div class ='row'>
	<div class ='col-lg-12'>
		<b>สถานะ:</b> <%=@product.product_status_master%>
	</div>
</div>
<div style='clear:both;height:20px;'></div>
<div class ='row'>
	<div class ='col-lg-12'>
		<b>ติดต่อที่</b> <%=@product.contact%>
	</div>
</div>
<div style='clear:both;height:20px;'></div>
<div class ='row'>
	<div class ='col-lg-12'>
		<b>แสดงรายการที่ดินนี้บนหน้าเว็บไซต์</b> <%=mark(@product.is_show)%>
	</div>
</div>
<div style='clear:both;height:20px;'></div>
<div class ='row'>
	<div class ='col-lg-12'>
		<b>แสดงในที่ดินเด่น</b> <%=mark(@product.is_starred)%>
	</div>
</div>
<div style='clear:both;height:40px;'></div>
<div class ='row'>
	<div class ='col-lg-12'>
		<%=link_to "แก้ไข", edit_backend_product_path(@product), {:class => 'btn btn-primary'}%>
		<%=link_to "ย้อนกลับ", backend_products_path, {:class => 'btn btn-default'}%>
	</div>
</div>



