<div style='height:10px;'></div>
<div class = 'divide-content'>
	<div class = 'row'>
		<h2>ที่ดินแยกตามจังหวัด  </h2>
		<div class = 'col-lg-12'>
			<div class = 'zones-products'>
				<%@zones.each do |z| %>
						<%
			    			products = @products.reject{|p| p.zone_id != z.id}
			    		%>
			    		<%if  products.size > 0%>
			    			<div class = 'row' style ='width: 90% !important;'>
				    			<div class = 'zone-products'>
				    				<span class = 'zone-title'>ที่ดิน<%=z.name%></span> <br/>
				    				<div class = 'zone-products-list'>
					    				<%products.each do |p|%>
					    					
					    						<%=link_to zone_products_path(:zone_id => p.pv_id), {:target => '_blank'} do %>
					    							<%=p.pv_name%>
					    						<%end%> &nbsp;

					    					
					    				<%end%>
				    				</div>
				    			</div>
			    			</div>
			    		<%end%>
				<%end%>
    	    </div>
		</div>
	</div>
</div>
	<div class = 'divide-content'>
		<div class = 'row'>
			<h2>รายการที่ดินทั้งหมด</h2>
			<div class = 'col-lg-12'>
				<div class = 'divide-content-inner'>
					<%=render :partial => '/tableitem', :locals => {:records => @product_stars}%>
					<%= will_paginate @product_stars %>
				</div>
			</div>
		</div>
	</div>
