
<div id="main-content" class="col-md-12 col-sm-12">
  <div class="property-detail">
   
    <div class="row">
      <div class="col-md-12">
        <h1 class="property-detail-title"><%=@product.title%></h1>
        <div class="property-detail-subtitle"><div class=" no-columns hierarchy_select_formatter hierarchy-select hf-property-location"><div class="field-item field-item-0"><div class="field-value">
           <%=link_to @product.province, zone_products_path(:zone_id => @product.province_id)%>
        </div></div></div>                 </div>
      </div><!-- /.header-title -->
    </div><!-- /.row -->
     <div class = "row">
        <div class="col-md-12 image-show">
            <%
                image = @product.product_images.sample
            %>
            <%if image%>
                <img src = "<%=image.image.url(:large)%>"/>
            <%end%>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-4">
            <div class=" table-group overview hf-property-overview">
                    <h2>ข้อมูลที่ดิน</h2>
                    <table id="hf-property-overview" class="table-formatter">
                        <tbody>
                            <tr class="even">
                                <td class="item-label" style ='width:100px;'>
                                    พื้นที่
                                </td>
                                <td class="item-value">
                                    <%=@product.sqr_area.nil? ? "-" : @product.sqr_area%>       
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="item-label">
                                     กว้าง         
                                </td>
                                <td class="item-value">
                                    <%=@product.width.nil? ? "-" : @product.width%>          
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="item-label">
                                     ลึก       
                                </td>
                                <td class="item-value">
                                    <%=@product.depth.nil? ? "-" : @product.depth%>       
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="item-label">
                                     ราคาขาย        
                                </td>
                                <td class="item-value">
                                    <%=@product.sell_price.nil? ? "-" : @product.sell_price%>     
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="item-label">
                                     ราคาที่ดิน         
                                </td>
                                <td class="item-value">
                                    <%=@product.land_price.nil? ? "-" : @product.land_price%>      
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="item-label">
                                     ค่าเช่า        
                                </td>
                                <td class="item-value">
                                    <%=@product.rent_price.nil? ? "-" : @product.rent_price%>        
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>        
        </div>
        <div class="col-md-8">
              <h2>รายละเอียด</h2>
              <p>
                  <%=@product.content%>
              </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>ติดต่อ</h2>
            <p>
                <%=@product.contact%>
           </p>
        </div>
    </div> 
  </div>
</div>

                        