
<div class="header">
      <div class="logo">
         <img src = "/assets/logo_np.png"/>
      </div>
      <div class="clr"></div>

      <div class="menu_nav">
        <%
          name = params[:controller]
        %>
        <ul>
          <li class='<%=name == "products" ? "active" : ""%>'>
            <%=link_to "รายการที่ดิน", products_path%>
          </li>
          <li class='<%=name == "news" ? "active" : ""%>'>
            <%=link_to "ข่าวสาร", news_index_path%>
          </li>
          <li class='<%=name == "contacts" ? "active" : ""%>'>
            <%=link_to "ติดต่อเรา", contacts_path%>
          </li>
        </ul>
        <div class="clr"></div>
        <div id = 'bkm-link'>
          <!-- <a href="javascript:window.external.AddFavorite('http://www.npproperty.net',%20'NP Property')" class="main-link">
          เก็บหน้านี้ - add to favorites
          </a> -->
        </div>
      </div>
      <div class="hbg"><img src='<%=image_path("main2.jpg")%>'  alt="" /></div>
</div>