<%
  params[:zone_id] ||= 0
%>
<div class="sidebar">
    <div class="gadget">
        <h2 class="star" style='font-size:14px;'>
            ที่ดินเด่น 
            <%=link_to "click ...", products_path, :style => "font-size: 12px;" %>
        </h2>
    </div>
    <%@zones.each do |z| %>
    <%
      products = @products.reject{|p| p.zone_id != z.id}
    %>
   
    <%if products.size > 0%>
      <div class="gadget">
        <h2 class="star" data-id = '<%=z.id%>' style='font-size:14px;'>ที่ดิน<%=z.name%></h2>
        <div class="clr"></div>
          <ul class="sb_menu" data-id = '<%=z.id%>'>
            <%products.each do |p|%>
              <%
                 li_class = "";
                 if p.pv_id == params[:zone_id].to_i
                  li_class = "active"
                 end
              %>
              <li class = '<%=li_class%>'><%=link_to p.pv_name, zone_products_path(:zone_id => p.pv_id), {}%> </li>
            <%end%>
          </ul>
      </div>
    <%end%>
  <%end%>
</div>
<script type="text/javascript">
  $(document).ready(function() {

     $('li.active').parent().removeClass('collapsed');

     $('h2.star').click(function(e) {
        var data_id = $(e.target).attr('data-id');
        var ul = $('ul[data-id =' + data_id + ']');
        ul.toggleClass('collapsed').promise().done(function(){
            if (!ul.hasClass('collapsed')) {
              $(ul).find('li').slideDown('slow');
            }
        });
     })

  })
</script>